@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@keyframes slideInFromDown {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
*{
  transition: all 1s ease-in-out;
}
.mode {
  /* left: 100%; */
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  width: 15rem;
  align-items: center;
  
}
.cal{
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  width: 15rem;
  align-items: center;
}
.switch {
  position: relative;
  /* display: inline-block; */
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #form{
    display: flex;
    justify-content: center;
    /* margin-top: 30%; */
    /* margin-top: 10%; */
    /* transition: all 10s ease-in-out; */
  }
  form{
    /* border: solid black 1px; */
    padding: 2rem;
    width: 43%;
    box-shadow: 0px 0px 1rem 1rem rgb(217, 217, 254);
    box-shadow: 0px 0px 1rem 1rem rgb(121, 121, 252);
    /* background-color: rgb(169, 155, 155); */
    background-image: linear-gradient(rgb(1, 17, 78),rgb(153, 245, 236));
    /* background-image: linear-gradient(rgb(240, 223, 223),rgb(213, 241, 253)); */
    border-radius: 1rem;
    animation: 1s ease-out 0s 1 slideInFromDown;
  }
  #btn{
  text-align: center;
}
#body{
  background-color: #DEE4E7;
  transition: all 2s ease;
  display: none;
}
#btn button{
    width: 9vw;
    height:9vh;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 0% auto;
    background-image: radial-gradient(rgb(147, 209, 243),rgb(211, 230, 240),white);
    border: 2px solid blueviolet;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    transition: all 1s ease-in-out;
    
  }
  .add{
    background-image: radial-gradient(rgb(248, 130, 152),#fad1d1,white);
    border: 2px solid rgb(239, 138, 138);
  }
  #btn button:hover {
    background: rgb(106, 37, 211);
  }
  #btn button:active{
    background: rgb(20, 169, 214);
  }
  #ac:hover{
    filter: brightness(1.5);
  }
  #eq:hover{
    filter: brightness(1.5);
  }
/* input:focus{
    outline: none;
} */
input :default{
    outline: none';
}
.main{
    margin-top: 3rem;
    width: 96%;
    padding: 1rem;
    padding-right: 1rem;
    outline: none;
    border: none;
    font-size: 4rem;
    background-color: rgb(235, 241, 200);
    /* background-color: rgb(1, 14, 99); */
    /* background-color: rgb(54, 191, 250); */
    border-radius: 1rem;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    margin-right: 1rem;
}
@media(max-width:605px){
  #btn input {
    width: 24%;
   
   border-radius: 50%;
  }
}
.hide {
  display: none;
}
.hideBtn{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
i{
  font-size: 2rem;
  color: black;
}
#calc{
  display: none;
  justify-content: center;
}
.la{
  font-family: 'Lato', sans-serif;
}
.lp{
  font-family: 'Lato', sans-serif;
}
#his{
  display: none;
}
.img{
  background-color: whitesmoke;
  border-radius: 0.7rem;
  border: 2px solid violet;
  text-align: center;
}
.img img{
  width: 12vw;
  height: 5vh;
  cursor: pointer;
}

.cnt{
  overflow-y: auto;
  height: 60vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(#DAEAF1,#C6DCE4);
  border-radius: 2rem;
  padding: 1rem 1rem;
  font-size: 2rem;
  /* text-decoration: underline; */
}
.cnt::-webkit-scrollbar {
  display: none;
}
.l{
  background-color: orangered;
}
/* .hideBtn{
  display: none;
} */
@media(max-width:900px){
  #btn button{
    width: 9vw;
    height: 9vw;
    font-size: 3.5vw;
  }
}
@media(max-width:600px){
  .main{
    font-size: 7.6vw;
  }
}